.apresentacao {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 154px;   
    margin-bottom: 238px; 
}

.apresentacao .linha1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 44px;
}

.apresentacao .linha1 .texto {
    font-size: 36px;
    font-weight: 700;
}

.apresentacao .hello {
    background-color: #365486;
    width: 220px;
    height: 73px;
    border-radius: 10px;
}

.apresentacao .hello p {
    color: #47FF06;
    font-family: "Fira Code";
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 24px 26px;
}

.apresentacao .linha2 {
    font-size: 80px;
    font-weight: 700;
    margin-top: 20px;
}

.apresentacao .linha3 {
    font-size: 96px;
    font-weight: 700;
    margin-top: 14px;
}

.apresentacao .linha3 span {
    font-size: 80px;
    color: #365486;
}

.apresentacao .linha4 {
    font-size: 36px;
    margin-top: 26px;
}

.apresentacao .linha5 {
    display: flex;
    gap: 50px;
    margin-top: 38px;
}

.apresentacao .linha5 img {
    width: 70px;
}